incident-lifecycle-automation/fixed-state-diagram/incident-lifecycle-NewIncidentFlow-azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "NewIncidentFlow",
        "description":  "This workflow can be launched manually or automatically on new incident created in Sentinel. It creates the corresponding investigation list and two sample tasks in the related SharePoint lists",
        "prerequisites":  "SharePoint lists for storing Investigations and Tasks",
        "postDeployment":  [
            "Assign the role of Microsoft Sentinel Reponder to the workflow's managed identity at the Sentinel resource group or workspace level",
            "Autorize the API for the connection to SharePoint",
            "Set the workflow parameters",
            "Authorize Sentinel/Defender XDR to run the Logic App"
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  "Stefano Pescosolido - https://www.linkedin.com/in/stefanopescosolido/"
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "NewIncidentFlow",
            "type":  "string"
        },
        "T3GroupID":  {
            "type":  "String",
            "metadata":  {
                "description":  "Enter the Object GUID for the Entra Group representing Tier 3 - NOTE: in this implementation, Tier 3 is the entry level (lower in hierarchy)"
            }
        },
        "SharePointSiteUrl":  {
            "type":  "String",
            "metadata":  {
                "description":  "Enter the URL of the SharePoint site collection hosting the lists for storing Investigations and Tasks"
            }
        },
        "SharePointListNameForTasks":  {
            "type":  "String",
            "metadata":  {
                "description":  "Enter name of the SharePoint list for storing Tasks"
            }
        },
        "SharePointListNameForInvestigations":  {
            "type":  "String",
            "metadata":  {
                "description":  "Enter name of the SharePoint list for storing Investigations"
            }
        }
    },
    "variables":  {
        "MicrosoftSentinelConnectionName":  "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
        "SharepointonlineConnectionName":  "[concat('Sharepointonline-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        },
                        "T3GroupID":  {
                            "defaultValue":  "[parameters('T3GroupID')]",
                            "type":  "String"
                        },
                        "SharePointSiteUrl":  {
                            "defaultValue":  "[parameters('SharePointSiteUrl')]",
                            "type":  "String"
                        },
                        "SharePointListNameForTasks":  {
                            "defaultValue":  "[parameters('SharePointListNameForTasks')]",
                            "type":  "String"
                        },
                        "SharePointListNameForInvestigations":  {
                            "defaultValue":  "[parameters('SharePointListNameForInvestigations')]",
                            "type":  "String"
                        }
                    },
                    "triggers":  {
                        "Microsoft_Sentinel_incident":  {
                            "type":  "ApiConnectionWebhook",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body":  {
                                    "callback_url":  "@listCallbackUrl()"
                                },
                                "path":  "/incident-creation"
                            }
                        }
                    },
                    "actions":  {
                        "Create_investigation":  {
                            "runAfter":  {
                                "Create_fake_task_T3.2":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "body":  {
                                    "Title":  "Incident: @{triggerBody()?['object']?['properties']?['providerIncidentId']} - @{formatDateTime(addHours(utcNow(),2),'yyyy.MM.dd HH:mm')} (Initial title: @{triggerBody()?['object']?['properties']?['title']})",
                                    "Status":  {
                                        "Value":  "New"
                                    },
                                    "Tier":  {
                                        "Value":  "T3"
                                    },
                                    "Assigned_x0020_to":  {
                                        "Claims":  "i:0#.f|membership|@{parameters('T3GroupID')}"
                                    },
                                    "Tasks":  [
                                        {
                                            "Id":  "@body('Create_fake_task_T3.1')?['ID']"
                                        },
                                        {
                                            "Id":  "@body('Create_fake_task_T3.2')?['ID']"
                                        }
                                    ],
                                    "Main_x0020_Incident":  "https://security.microsoft.com/incident2/@{triggerBody()?['object']?['properties']?['providerIncidentId']}",
                                    "Notes":  "\u003cp class=\"editor-paragraph\"\u003eIncident created. Summary by Security Copilot:\u003c/p\u003e\u003cp class=\"editor-paragraph\"\u003e\u0026lt;to-be-added-here\u0026gt;\u003c/p\u003e",
                                    "Incident_x0020_ARM_x0020_ID":  "@triggerBody()?['object']?['id']"
                                },
                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForInvestigations')))}/items"
                            }
                        },
                        "Create_fake_task_T3.1":  {
                            "runAfter":  {
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "body":  {
                                    "Title":  "Task T3.1 - Incident: @{triggerBody()?['object']?['properties']?['providerIncidentId']} - Created: @{formatDateTime(addHours(utcNow(),2),'yyyy.MM.dd HH:mm')}",
                                    "Assigned_x0020_to":  {
                                        "Claims":  "i:0#.f|membership|@{parameters('T3GroupID')}"
                                    },
                                    "Due_x0020_date":  "@addDays(utcNow(),7)",
                                    "Instructions":  "\u003cp class=\"editor-paragraph\"\u003eLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.\u0026nbsp;\u003c/p\u003e\u003cul class=\"editor-list-ul\"\u003e\u003cli class=\"editor-listitem\"\u003e\u003cb\u003e\u003cstrong class=\"editor-text-bold\"\u003eFirst\u003c/strong\u003e\u003c/b\u003e item\u003c/li\u003e\u003cli class=\"editor-listitem\"\u003e\u003ci\u003e\u003cem class=\"editor-text-italic\"\u003eSecond\u003c/em\u003e\u003c/i\u003e item\u003c/li\u003e\u003cli class=\"editor-listitem\"\u003e\u003ci\u003e\u003cb\u003e\u003cstrong class=\"editor-text-bold editor-text-italic\"\u003eThird\u003c/strong\u003e\u003c/b\u003e\u003c/i\u003e item\u003c/li\u003e\u003c/ul\u003e\u003cp class=\"editor-paragraph\"\u003eUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.\u003c/p\u003e"
                                },
                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForTasks')))}/items"
                            }
                        },
                        "Create_fake_task_T3.2":  {
                            "runAfter":  {
                                "Create_fake_task_T3.1":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "body":  {
                                    "Title":  "Task T3.2 - Incident: @{triggerBody()?['object']?['properties']?['providerIncidentId']} - Created: @{formatDateTime(addHours(utcNow(),2),'yyyy.MM.dd HH:mm')}",
                                    "Assigned_x0020_to":  {
                                        "Claims":  "i:0#.f|membership|@{parameters('T3GroupID')}"
                                    },
                                    "Due_x0020_date":  "@addDays(utcNow(),7)",
                                    "Completed":  false,
                                    "Instructions":  "\u003cp class=\"editor-paragraph\"\u003eDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\u003c/p\u003e"
                                },
                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForTasks')))}/items"
                            }
                        },
                        "Update_incident_as_Active":  {
                            "runAfter":  {
                                "Update_fake_task_T3.2":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method":  "put",
                                "body":  {
                                    "incidentArmId":  "@triggerBody()?['object']?['id']",
                                    "ownerAction":  "Assign",
                                    "owner":  "@parameters('T3GroupID')",
                                    "status":  "Active"
                                },
                                "path":  "/Incidents"
                            }
                        },
                        "Update_fake_task_T3.1":  {
                            "runAfter":  {
                                "Create_investigation":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method":  "patch",
                                "body":  {
                                    "Completed":  false,
                                    "Investigation":  {
                                        "Id":  "@body('Create_investigation')?['ID']"
                                    }
                                },
                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForTasks')))}/items/@{encodeURIComponent(body('Create_fake_task_T3.1')?['ID'])}"
                            }
                        },
                        "Update_fake_task_T3.2":  {
                            "runAfter":  {
                                "Update_fake_task_T3.1":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method":  "patch",
                                "body":  {
                                    "Completed":  false,
                                    "Investigation":  {
                                        "Id":  "@body('Create_investigation')?['ID']"
                                    }
                                },
                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForTasks')))}/items/@{encodeURIComponent(body('Create_fake_task_T3.2')?['ID'])}"
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "azuresentinel":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName":  "[variables('MicrosoftSentinelConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                                "connectionProperties":  {
                                    "authentication":  {
                                        "type":  "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "sharepointonline":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('SharepointonlineConnectionName'))]",
                                "connectionName":  "[variables('SharepointonlineConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Sharepointonline')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "identity":  {
                "type":  "SystemAssigned"
            },
            "tags":  {
                "hidden-SentinelTemplateName":  "NewIncidentFlow",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('SharepointonlineConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('MicrosoftSentinelConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues":  {
                },
                "parameterValueType":  "Alternative",
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('SharepointonlineConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('SharepointonlineConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Sharepointonline')]"
                }
            }
        }
    ]
}
