incident-lifecycle-automation/fixed-state-diagram/incident-lifecycle-UpdatedInvestigationFlow-azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "UpdatedInvestigationFlow",
        "description":  "This workflow starts automatically on every item update in the SharePoint investigation list",
        "prerequisites":  "SharePoint lists for storing Investigations and Tasks. Sentinel integrated with Defender for storing incidents",
        "postDeployment":  [
            "Assign the role of Microsoft Sentinel Reponder to the workflow's managed identity at the Sentinel resource group or workspace level",
            "Autorize the API for the connection to SharePoint",
            "Set the workflow parameters"
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  "Stefano Pescosolido - https://www.linkedin.com/in/stefanopescosolido/"
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "UpdatedInvestigationFlow",
            "type":  "string"
        },
        "T3GroupID":  {
            "type":  "String",
            "metadata":  {
                "description":  "Enter the Object GUID for the Entra Group representing Tier 3 - NOTE: in this implementation, Tier 3 is the entry level (lower in hierarchy)"
            }
        },
        "T2GroupID":  {
            "type":  "String",
            "metadata":  {
                "description":  "Enter the Object GUID for the Entra Group representing Tier 2 - NOTE: in this implementation, Tier 2 is the medium level (medium in hierarchy)"
            }
        },
        "T1GroupID":  {
            "type":  "String",
            "metadata":  {
                "description":  "Enter the Object GUID for the Entra Group representing Tier 1 - NOTE: in this implementation, Tier 1 is the entry level (higher in hierarchy)"
            }
        },
        "SharePointSiteUrl":  {
            "type":  "String",
            "metadata":  {
                "description":  "Enter the URL of the SharePoint site collection hosting the lists for storing Investigations and Tasks"
            }
        },
        "SharePointListNameForTasks":  {
            "type":  "String",
            "metadata":  {
                "description":  "Enter name of the SharePoint list for storing Tasks"
            }
        },
        "SharePointListNameForInvestigations":  {
            "type":  "String",
            "metadata":  {
                "description":  "Enter name of the SharePoint list for storing Investigations"
            }
        }
    },
    "variables":  {
        "SharepointonlineConnectionName":  "[concat('Sharepointonline-', parameters('PlaybookName'))]",
        "MicrosoftSentinelConnectionName":  "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        },
                        "T3GroupID":  {
                            "defaultValue":  "[parameters('T3GroupID')]",
                            "type":  "String"
                        },
                        "T2GroupID":  {
                            "defaultValue":  "[parameters('T2GroupID')]",
                            "type":  "String"
                        },
                        "T1GroupID":  {
                            "defaultValue":  "[parameters('T1GroupID')]",
                            "type":  "String"
                        },
                        "SharePointSiteUrl":  {
                            "defaultValue":  "[parameters('SharePointSiteUrl')]",
                            "type":  "String"
                        },
                        "SharePointListNameForTasks":  {
                            "defaultValue":  "[parameters('SharePointListNameForTasks')]",
                            "type":  "String"
                        },
                        "SharePointListNameForInvestigations":  {
                            "defaultValue":  "[parameters('SharePointListNameForInvestigations')]",
                            "type":  "String"
                        }
                    },
                    "triggers":  {
                        "When_an_item_is_created_or_modified":  {
                            "recurrence":  {
                                "interval":  15,
                                "frequency":  "Second"
                            },
                            "evaluatedRecurrence":  {
                                "interval":  15,
                                "frequency":  "Second"
                            },
                            "splitOn":  "@triggerBody()?['value']",
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method":  "get",
                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForInvestigations')))}/onupdateditems"
                            }
                        }
                    },
                    "actions":  {
                        "Read_Incident_ID":  {
                            "runAfter":  {
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Incident ID",
                                        "type":  "string",
                                        "value":  "@{split(triggerBody()?['Title'],' ')[1]}"
                                    }
                                ]
                            }
                        },
                        "Action":  {
                            "runAfter":  {
                                "Read_Incident_ID":  [
                                    "Succeeded"
                                ]
                            },
                            "cases":  {
                                "Close":  {
                                    "case":  "Close",
                                    "actions":  {
                                        "Close_Investigation":  {
                                            "runAfter":  {
                                                "Close_Each_Task":  [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type":  "ApiConnection",
                                            "inputs":  {
                                                "host":  {
                                                    "connection":  {
                                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                                    }
                                                },
                                                "method":  "patch",
                                                "body":  {
                                                    "Status":  {
                                                        "Value":  "Closed"
                                                    },
                                                    "Action":  {
                                                        "Value":  "None"
                                                    }
                                                },
                                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForInvestigations')))}/items/@{encodeURIComponent(triggerBody()?['ID'])}"
                                            }
                                        },
                                        "Close_incident":  {
                                            "runAfter":  {
                                                "Close_Investigation":  [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type":  "ApiConnection",
                                            "inputs":  {
                                                "host":  {
                                                    "connection":  {
                                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method":  "put",
                                                "body":  {
                                                    "incidentArmId":  "@triggerBody()?['Incident_x0020_ARM_x0020_ID']",
                                                    "ownerAction":  "Unassign",
                                                    "status":  "Closed",
                                                    "classification":  {
                                                        "ClassificationAndReason":  "@triggerBody()?['Classification']?['Value']"
                                                    }
                                                },
                                                "path":  "/Incidents"
                                            }
                                        },
                                        "Close_Each_Task":  {
                                            "foreach":  "@body('Get_All_Tasks')?['value']",
                                            "actions":  {
                                                "Close_task":  {
                                                    "type":  "ApiConnection",
                                                    "inputs":  {
                                                        "host":  {
                                                            "connection":  {
                                                                "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                                            }
                                                        },
                                                        "method":  "patch",
                                                        "body":  {
                                                            "Completed":  true
                                                        },
                                                        "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForTasks')))}/items/@{encodeURIComponent(items('Close_Each_Task')?['ID'])}"
                                                    }
                                                }
                                            },
                                            "runAfter":  {
                                                "Get_All_Tasks":  [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type":  "Foreach"
                                        },
                                        "Get_All_Tasks":  {
                                            "type":  "ApiConnection",
                                            "inputs":  {
                                                "host":  {
                                                    "connection":  {
                                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                                    }
                                                },
                                                "method":  "get",
                                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForTasks')))}/items",
                                                "queries":  {
                                                    "$filter":  "Investigation eq @{triggerBody()?['ID']}"
                                                }
                                            }
                                        }
                                    }
                                },
                                "Escalate":  {
                                    "case":  "Escalate",
                                    "actions":  {
                                        "Tier_-_Escalate":  {
                                            "cases":  {
                                                "T3_-_Escalate_to_T2":  {
                                                    "case":  "T3",
                                                    "actions":  {
                                                        "Create_Fake_Task_T2.1":  {
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "post",
                                                                "body":  {
                                                                    "Title":  "Task T2.1 - Incident: @{variables('Incident ID')} - Created: @{formatDateTime(addHours(utcNow(),2),'yyyy.MM.dd HH:mm')}",
                                                                    "Assigned_x0020_to":  {
                                                                        "Claims":  "i:0#.f|membership|@{parameters('T2GroupID')}"
                                                                    },
                                                                    "Due_x0020_date":  "@addDays(utcNow(),7)",
                                                                    "Investigation":  {
                                                                        "Id":  "@triggerBody()?['ID']"
                                                                    },
                                                                    "Instructions":  "\u003cp class=\"editor-paragraph\"\u003eLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.\u0026nbsp;\u003c/p\u003e\u003cul class=\"editor-list-ul\"\u003e\u003cli class=\"editor-listitem\"\u003e\u003cb\u003e\u003cstrong class=\"editor-text-bold\"\u003eFirst\u003c/strong\u003e\u003c/b\u003e item\u003c/li\u003e\u003cli class=\"editor-listitem\"\u003e\u003ci\u003e\u003cem class=\"editor-text-italic\"\u003eSecond\u003c/em\u003e\u003c/i\u003e item\u003c/li\u003e\u003cli class=\"editor-listitem\"\u003e\u003ci\u003e\u003cb\u003e\u003cstrong class=\"editor-text-bold editor-text-italic\"\u003eThird\u003c/strong\u003e\u003c/b\u003e\u003c/i\u003e item\u003c/li\u003e\u003c/ul\u003e\u003cp class=\"editor-paragraph\"\u003eUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.\u003c/p\u003e"
                                                                },
                                                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForTasks')))}/items"
                                                            }
                                                        },
                                                        "Update_Investigation_for_T2":  {
                                                            "runAfter":  {
                                                                "Create_Fake_Task_T2.2":  [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "patch",
                                                                "body":  {
                                                                    "Status":  {
                                                                        "Value":  "New"
                                                                    },
                                                                    "Tier":  {
                                                                        "Value":  "T2"
                                                                    },
                                                                    "Assigned_x0020_to":  {
                                                                        "Claims":  "i:0#.f|membership|@{parameters('T2GroupID')}"
                                                                    },
                                                                    "Tasks":  [
                                                                        {
                                                                            "Id":  "@body('Create_Fake_Task_T2.1')?['ID']"
                                                                        },
                                                                        {
                                                                            "Id":  "@body('Create_Fake_Task_T2.2')?['ID']"
                                                                        }
                                                                    ],
                                                                    "Action":  {
                                                                        "Value":  "None"
                                                                    }
                                                                },
                                                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForInvestigations')))}/items/@{encodeURIComponent(triggerBody()?['ID'])}"
                                                            }
                                                        },
                                                        "Create_Fake_Task_T2.2":  {
                                                            "runAfter":  {
                                                                "Create_Fake_Task_T2.1":  [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "post",
                                                                "body":  {
                                                                    "Title":  "Task T2.2 - Incident: @{variables('Incident ID')} - Created: @{formatDateTime(addHours(utcNow(),2),'yyyy.MM.dd HH:mm')}",
                                                                    "Assigned_x0020_to":  {
                                                                        "Claims":  "i:0#.f|membership|@{parameters('T2GroupID')}"
                                                                    },
                                                                    "Due_x0020_date":  "@addDays(utcNow(),7)",
                                                                    "Completed":  false,
                                                                    "Investigation":  {
                                                                        "Id":  "@triggerBody()?['ID']"
                                                                    },
                                                                    "Instructions":  "\u003cp class=\"editor-paragraph\"\u003eDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\u003c/p\u003e"
                                                                },
                                                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForTasks')))}/items"
                                                            }
                                                        },
                                                        "Assign_incident_to_T2":  {
                                                            "runAfter":  {
                                                                "Update_Investigation_for_T2":  [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "put",
                                                                "body":  {
                                                                    "incidentArmId":  "@triggerBody()?['Incident_x0020_ARM_x0020_ID']",
                                                                    "ownerAction":  "Assign",
                                                                    "owner":  "@parameters('T2GroupID')"
                                                                },
                                                                "path":  "/Incidents"
                                                            }
                                                        }
                                                    }
                                                },
                                                "T2_-_Escalate_to_T1":  {
                                                    "case":  "T2",
                                                    "actions":  {
                                                        "Create_Fake_Task_T1.1":  {
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "post",
                                                                "body":  {
                                                                    "Title":  "Task T1.1 - Incident: @{variables('Incident ID')} - Created: @{formatDateTime(addHours(utcNow(),2),'yyyy.MM.dd HH:mm')}",
                                                                    "Assigned_x0020_to":  {
                                                                        "Claims":  "i:0#.f|membership|@{parameters('T1GroupID')}"
                                                                    },
                                                                    "Due_x0020_date":  "@addDays(utcNow(),7)",
                                                                    "Investigation":  {
                                                                        "Id":  "@triggerBody()?['ID']"
                                                                    },
                                                                    "Instructions":  "\u003cp class=\"editor-paragraph\"\u003eLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.\u0026nbsp;\u003c/p\u003e\u003cul class=\"editor-list-ul\"\u003e\u003cli class=\"editor-listitem\"\u003e\u003cb\u003e\u003cstrong class=\"editor-text-bold\"\u003eFirst\u003c/strong\u003e\u003c/b\u003e item\u003c/li\u003e\u003cli class=\"editor-listitem\"\u003e\u003ci\u003e\u003cem class=\"editor-text-italic\"\u003eSecond\u003c/em\u003e\u003c/i\u003e item\u003c/li\u003e\u003cli class=\"editor-listitem\"\u003e\u003ci\u003e\u003cb\u003e\u003cstrong class=\"editor-text-bold editor-text-italic\"\u003eThird\u003c/strong\u003e\u003c/b\u003e\u003c/i\u003e item\u003c/li\u003e\u003c/ul\u003e\u003cp class=\"editor-paragraph\"\u003eUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.\u003c/p\u003e"
                                                                },
                                                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForTasks')))}/items"
                                                            }
                                                        },
                                                        "Update_Investigation_for_T1":  {
                                                            "runAfter":  {
                                                                "Create_Fake_Task_T1.2":  [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "patch",
                                                                "body":  {
                                                                    "Status":  {
                                                                        "Value":  "New"
                                                                    },
                                                                    "Tier":  {
                                                                        "Value":  "T1"
                                                                    },
                                                                    "Assigned_x0020_to":  {
                                                                        "Claims":  "i:0#.f|membership|@{parameters('T1GroupID')}"
                                                                    },
                                                                    "Tasks":  [
                                                                        {
                                                                            "Id":  "@body('Create_Fake_Task_T1.1')?['ID']"
                                                                        },
                                                                        {
                                                                            "Id":  "@body('Create_Fake_Task_T1.2')?['ID']"
                                                                        }
                                                                    ],
                                                                    "Action":  {
                                                                        "Value":  "None"
                                                                    }
                                                                },
                                                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForInvestigations')))}/items/@{encodeURIComponent(triggerBody()?['ID'])}"
                                                            }
                                                        },
                                                        "Create_Fake_Task_T1.2":  {
                                                            "runAfter":  {
                                                                "Create_Fake_Task_T1.1":  [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "post",
                                                                "body":  {
                                                                    "Title":  "Task T1.2 - Incident: @{variables('Incident ID')} - Created: @{formatDateTime(addHours(utcNow(),2),'yyyy.MM.dd HH:mm')}",
                                                                    "Assigned_x0020_to":  {
                                                                        "Claims":  "i:0#.f|membership|@{parameters('T1GroupID')}"
                                                                    },
                                                                    "Due_x0020_date":  "@addDays(utcNow(),7)",
                                                                    "Completed":  false,
                                                                    "Investigation":  {
                                                                        "Id":  "@triggerBody()?['ID']"
                                                                    },
                                                                    "Instructions":  "\u003cp class=\"editor-paragraph\"\u003eDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\u003c/p\u003e"
                                                                },
                                                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForTasks')))}/items"
                                                            }
                                                        },
                                                        "Assign_incident_to_T1":  {
                                                            "runAfter":  {
                                                                "Update_Investigation_for_T1":  [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "put",
                                                                "body":  {
                                                                    "incidentArmId":  "@triggerBody()?['Incident_x0020_ARM_x0020_ID']",
                                                                    "ownerAction":  "Assign",
                                                                    "owner":  "@parameters('T1GroupID')"
                                                                },
                                                                "path":  "/Incidents"
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "default":  {
                                                "actions":  {
                                                }
                                            },
                                            "expression":  "@triggerBody()?['Tier']?['Value']",
                                            "type":  "Switch"
                                        }
                                    }
                                },
                                "Assign":  {
                                    "case":  "Assign",
                                    "actions":  {
                                        "Assign_investigation":  {
                                            "runAfter":  {
                                                "Assign_Each_Task":  [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type":  "ApiConnection",
                                            "inputs":  {
                                                "host":  {
                                                    "connection":  {
                                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                                    }
                                                },
                                                "method":  "patch",
                                                "body":  {
                                                    "Status":  {
                                                        "Value":  "Assigned"
                                                    },
                                                    "Assigned_x0020_to":  {
                                                        "Claims":  "@triggerBody()?['Assigned_x0020_to']?['Claims']"
                                                    },
                                                    "Action":  {
                                                        "Value":  "None"
                                                    }
                                                },
                                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForInvestigations')))}/items/@{encodeURIComponent(triggerBody()?['ID'])}"
                                            }
                                        },
                                        "Assign_Each_Task":  {
                                            "foreach":  "@triggerBody()?['Tasks']",
                                            "actions":  {
                                                "Assign_task":  {
                                                    "type":  "ApiConnection",
                                                    "inputs":  {
                                                        "host":  {
                                                            "connection":  {
                                                                "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                                            }
                                                        },
                                                        "method":  "patch",
                                                        "body":  {
                                                            "Assigned_x0020_to":  {
                                                                "Claims":  "@triggerBody()?['Assigned_x0020_to']?['Claims']"
                                                            },
                                                            "Completed":  false
                                                        },
                                                        "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForTasks')))}/items/@{encodeURIComponent(items('Assign_Each_Task')?['ID'])}"
                                                    }
                                                }
                                            },
                                            "type":  "Foreach"
                                        },
                                        "Assign_incident":  {
                                            "runAfter":  {
                                                "Assign_investigation":  [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type":  "ApiConnection",
                                            "inputs":  {
                                                "host":  {
                                                    "connection":  {
                                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method":  "put",
                                                "body":  {
                                                    "incidentArmId":  "@triggerBody()?['Incident_x0020_ARM_x0020_ID']",
                                                    "ownerAction":  "Assign",
                                                    "owner":  "@split(triggerBody()?['Assigned_x0020_to']?['Claims'],'|')[2]"
                                                },
                                                "path":  "/Incidents"
                                            }
                                        }
                                    }
                                },
                                "Reopen":  {
                                    "case":  "Reopen",
                                    "actions":  {
                                        "Tier_-_Reopen":  {
                                            "cases":  {
                                                "T3_-_Reopen":  {
                                                    "case":  "T3",
                                                    "actions":  {
                                                        "Create_Fake_Task_T3.1_-_Reopen":  {
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "post",
                                                                "body":  {
                                                                    "Title":  "Task T3.1 - Incident: @{variables('Incident ID')} - Created: @{formatDateTime(addHours(utcNow(),2),'yyyy.MM.dd HH:mm')}",
                                                                    "Assigned_x0020_to":  {
                                                                        "Claims":  "i:0#.f|membership|@{parameters('T3GroupID')}"
                                                                    },
                                                                    "Due_x0020_date":  "@addDays(utcNow(),7)",
                                                                    "Completed":  false,
                                                                    "Investigation":  {
                                                                        "Id":  "@triggerBody()?['ID']"
                                                                    },
                                                                    "Instructions":  "\u003cp class=\"editor-paragraph\"\u003eLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.\u0026nbsp;\u003c/p\u003e\u003cul class=\"editor-list-ul\"\u003e\u003cli class=\"editor-listitem\"\u003e\u003cb\u003e\u003cstrong class=\"editor-text-bold\"\u003eFirst\u003c/strong\u003e\u003c/b\u003e item\u003c/li\u003e\u003cli class=\"editor-listitem\"\u003e\u003ci\u003e\u003cem class=\"editor-text-italic\"\u003eSecond\u003c/em\u003e\u003c/i\u003e item\u003c/li\u003e\u003cli class=\"editor-listitem\"\u003e\u003ci\u003e\u003cb\u003e\u003cstrong class=\"editor-text-bold editor-text-italic\"\u003eThird\u003c/strong\u003e\u003c/b\u003e\u003c/i\u003e item\u003c/li\u003e\u003c/ul\u003e\u003cp class=\"editor-paragraph\"\u003eUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.\u003c/p\u003e"
                                                                },
                                                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForTasks')))}/items"
                                                            }
                                                        },
                                                        "Create_Fake_Task_T3.2_-_Reopen":  {
                                                            "runAfter":  {
                                                                "Create_Fake_Task_T3.1_-_Reopen":  [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "post",
                                                                "body":  {
                                                                    "Title":  "Task T3.2 - Incident: @{variables('Incident ID')} - Created: @{formatDateTime(addHours(utcNow(),2),'yyyy.MM.dd HH:mm')}",
                                                                    "Assigned_x0020_to":  {
                                                                        "Claims":  "i:0#.f|membership|@{parameters('T3GroupID')}"
                                                                    },
                                                                    "Due_x0020_date":  "@addDays(utcNow(),7)",
                                                                    "Completed":  false,
                                                                    "Investigation":  {
                                                                        "Id":  "@triggerBody()?['ID']"
                                                                    },
                                                                    "Instructions":  "\u003cp class=\"editor-paragraph\"\u003eDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\u003c/p\u003e"
                                                                },
                                                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForTasks')))}/items"
                                                            }
                                                        },
                                                        "Update_investigation_-_T3_-_Reopen":  {
                                                            "runAfter":  {
                                                                "Create_Fake_Task_T3.2_-_Reopen":  [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "patch",
                                                                "body":  {
                                                                    "Status":  {
                                                                        "Value":  "New"
                                                                    },
                                                                    "Tier":  {
                                                                        "Value":  "T3"
                                                                    },
                                                                    "Assigned_x0020_to":  {
                                                                        "Claims":  "i:0#.f|membership|@{parameters('T3GroupID')}"
                                                                    },
                                                                    "Tasks":  [
                                                                        {
                                                                            "Id":  "@body('Create_Fake_Task_T3.1_-_Reopen')?['ID']"
                                                                        },
                                                                        {
                                                                            "Id":  "@body('Create_Fake_Task_T3.2_-_Reopen')?['ID']"
                                                                        }
                                                                    ],
                                                                    "Action":  {
                                                                        "Value":  "None"
                                                                    }
                                                                },
                                                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForInvestigations')))}/items/@{encodeURIComponent(triggerBody()?['ID'])}"
                                                            }
                                                        },
                                                        "Reassign_incident_to_T3":  {
                                                            "runAfter":  {
                                                                "Update_investigation_-_T3_-_Reopen":  [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "put",
                                                                "body":  {
                                                                    "incidentArmId":  "@triggerBody()?['Incident_x0020_ARM_x0020_ID']",
                                                                    "ownerAction":  "Assign",
                                                                    "owner":  "@parameters('T3GroupID')",
                                                                    "status":  "Active"
                                                                },
                                                                "path":  "/Incidents"
                                                            }
                                                        }
                                                    }
                                                },
                                                "T2_-_Reopen":  {
                                                    "case":  "T2",
                                                    "actions":  {
                                                        "Create_Fake_Task_T2.1_-_Reopen":  {
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "post",
                                                                "body":  {
                                                                    "Title":  "Task T2.1 - Incident: @{variables('Incident ID')} - Created: @{formatDateTime(addHours(utcNow(),2),'yyyy.MM.dd HH:mm')}",
                                                                    "Assigned_x0020_to":  {
                                                                        "Claims":  "i:0#.f|membership|@{parameters('T2GroupID')}"
                                                                    },
                                                                    "Due_x0020_date":  "@addDays(utcNow(),7)",
                                                                    "Completed":  false,
                                                                    "Investigation":  {
                                                                        "Id":  "@triggerBody()?['ID']"
                                                                    },
                                                                    "Instructions":  "\u003cp class=\"editor-paragraph\"\u003eLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.\u0026nbsp;\u003c/p\u003e\u003cul class=\"editor-list-ul\"\u003e\u003cli class=\"editor-listitem\"\u003e\u003cb\u003e\u003cstrong class=\"editor-text-bold\"\u003eFirst\u003c/strong\u003e\u003c/b\u003e item\u003c/li\u003e\u003cli class=\"editor-listitem\"\u003e\u003ci\u003e\u003cem class=\"editor-text-italic\"\u003eSecond\u003c/em\u003e\u003c/i\u003e item\u003c/li\u003e\u003cli class=\"editor-listitem\"\u003e\u003ci\u003e\u003cb\u003e\u003cstrong class=\"editor-text-bold editor-text-italic\"\u003eThird\u003c/strong\u003e\u003c/b\u003e\u003c/i\u003e item\u003c/li\u003e\u003c/ul\u003e\u003cp class=\"editor-paragraph\"\u003eUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.\u003c/p\u003e"
                                                                },
                                                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForTasks')))}/items"
                                                            }
                                                        },
                                                        "Create_Fake_Task_T2.2_-_Reopen":  {
                                                            "runAfter":  {
                                                                "Create_Fake_Task_T2.1_-_Reopen":  [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "post",
                                                                "body":  {
                                                                    "Title":  "Task T2.2 - Incident: @{variables('Incident ID')} - Created: @{formatDateTime(addHours(utcNow(),2),'yyyy.MM.dd HH:mm')}",
                                                                    "Assigned_x0020_to":  {
                                                                        "Claims":  "i:0#.f|membership|@{parameters('T2GroupID')}"
                                                                    },
                                                                    "Due_x0020_date":  "@addDays(utcNow(),7)",
                                                                    "Completed":  false,
                                                                    "Investigation":  {
                                                                        "Id":  "@triggerBody()?['ID']"
                                                                    },
                                                                    "Instructions":  "\u003cp class=\"editor-paragraph\"\u003eDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\u003c/p\u003e"
                                                                },
                                                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForTasks')))}/items"
                                                            }
                                                        },
                                                        "Update_investigation_-_T2_-_Reopen":  {
                                                            "runAfter":  {
                                                                "Create_Fake_Task_T2.2_-_Reopen":  [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "patch",
                                                                "body":  {
                                                                    "Status":  {
                                                                        "Value":  "New"
                                                                    },
                                                                    "Tier":  {
                                                                        "Value":  "T2"
                                                                    },
                                                                    "Assigned_x0020_to":  {
                                                                        "Claims":  "i:0#.f|membership|@{parameters('T2GroupID')}"
                                                                    },
                                                                    "Tasks":  [
                                                                        {
                                                                            "Id":  "@body('Create_Fake_Task_T2.1_-_Reopen')?['ID']"
                                                                        },
                                                                        {
                                                                            "Id":  "@body('Create_Fake_Task_T2.2_-_Reopen')?['ID']"
                                                                        }
                                                                    ],
                                                                    "Action":  {
                                                                        "Value":  "None"
                                                                    }
                                                                },
                                                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForInvestigations')))}/items/@{encodeURIComponent(triggerBody()?['ID'])}"
                                                            }
                                                        },
                                                        "Reassign_incident_to_T2":  {
                                                            "runAfter":  {
                                                                "Update_investigation_-_T2_-_Reopen":  [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "put",
                                                                "body":  {
                                                                    "incidentArmId":  "@triggerBody()?['Incident_x0020_ARM_x0020_ID']",
                                                                    "ownerAction":  "Assign",
                                                                    "owner":  "@parameters('T2GroupID')",
                                                                    "status":  "Active"
                                                                },
                                                                "path":  "/Incidents"
                                                            }
                                                        }
                                                    }
                                                },
                                                "T1_-_Reopen":  {
                                                    "case":  "T1",
                                                    "actions":  {
                                                        "Create_Fake_Task_T1.1_-_Reopen":  {
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "post",
                                                                "body":  {
                                                                    "Title":  "Task T1.1 - Incident: @{variables('Incident ID')} - Created: @{formatDateTime(addHours(utcNow(),2),'yyyy.MM.dd HH:mm')}",
                                                                    "Assigned_x0020_to":  {
                                                                        "Claims":  "i:0#.f|membership|@{parameters('T1GroupID')}"
                                                                    },
                                                                    "Due_x0020_date":  "@addDays(utcNow(),7)",
                                                                    "Completed":  false,
                                                                    "Investigation":  {
                                                                        "Id":  "@triggerBody()?['ID']"
                                                                    },
                                                                    "Instructions":  "\u003cp class=\"editor-paragraph\"\u003eLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.\u0026nbsp;\u003c/p\u003e\u003cul class=\"editor-list-ul\"\u003e\u003cli class=\"editor-listitem\"\u003e\u003cb\u003e\u003cstrong class=\"editor-text-bold\"\u003eFirst\u003c/strong\u003e\u003c/b\u003e item\u003c/li\u003e\u003cli class=\"editor-listitem\"\u003e\u003ci\u003e\u003cem class=\"editor-text-italic\"\u003eSecond\u003c/em\u003e\u003c/i\u003e item\u003c/li\u003e\u003cli class=\"editor-listitem\"\u003e\u003ci\u003e\u003cb\u003e\u003cstrong class=\"editor-text-bold editor-text-italic\"\u003eThird\u003c/strong\u003e\u003c/b\u003e\u003c/i\u003e item\u003c/li\u003e\u003c/ul\u003e\u003cp class=\"editor-paragraph\"\u003eUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.\u003c/p\u003e"
                                                                },
                                                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForTasks')))}/items"
                                                            }
                                                        },
                                                        "Create_Fake_Task_T1.2_-_Reopen":  {
                                                            "runAfter":  {
                                                                "Create_Fake_Task_T1.1_-_Reopen":  [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "post",
                                                                "body":  {
                                                                    "Title":  "Task T1.2 - Incident: @{variables('Incident ID')} - Created: @{formatDateTime(addHours(utcNow(),2),'yyyy.MM.dd HH:mm')}",
                                                                    "Assigned_x0020_to":  {
                                                                        "Claims":  "i:0#.f|membership|@{parameters('T1GroupID')}"
                                                                    },
                                                                    "Due_x0020_date":  "@addDays(utcNow(),7)",
                                                                    "Completed":  false,
                                                                    "Investigation":  {
                                                                        "Id":  "@triggerBody()?['ID']"
                                                                    },
                                                                    "Instructions":  "\u003cp class=\"editor-paragraph\"\u003eDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\u003c/p\u003e"
                                                                },
                                                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForTasks')))}/items"
                                                            }
                                                        },
                                                        "Update_investigation_-_T1_-_Reopen":  {
                                                            "runAfter":  {
                                                                "Create_Fake_Task_T1.2_-_Reopen":  [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "patch",
                                                                "body":  {
                                                                    "Status":  {
                                                                        "Value":  "New"
                                                                    },
                                                                    "Tier":  {
                                                                        "Value":  "T1"
                                                                    },
                                                                    "Assigned_x0020_to":  {
                                                                        "Claims":  "i:0#.f|membership|@{parameters('T1GroupID')}"
                                                                    },
                                                                    "Tasks":  [
                                                                        {
                                                                            "Id":  "@body('Create_Fake_Task_T1.1_-_Reopen')?['ID']"
                                                                        },
                                                                        {
                                                                            "Id":  "@body('Create_Fake_Task_T1.2_-_Reopen')?['ID']"
                                                                        }
                                                                    ],
                                                                    "Action":  {
                                                                        "Value":  "None"
                                                                    }
                                                                },
                                                                "path":  "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharePointListNameForInvestigations')))}/items/@{encodeURIComponent(triggerBody()?['ID'])}"
                                                            }
                                                        },
                                                        "Reassign_incident_to_T1":  {
                                                            "runAfter":  {
                                                                "Update_investigation_-_T1_-_Reopen":  [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "put",
                                                                "body":  {
                                                                    "incidentArmId":  "@triggerBody()?['Incident_x0020_ARM_x0020_ID']",
                                                                    "ownerAction":  "Assign",
                                                                    "owner":  "@parameters('T1GroupID')",
                                                                    "status":  "Active"
                                                                },
                                                                "path":  "/Incidents"
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "default":  {
                                                "actions":  {
                                                }
                                            },
                                            "expression":  "@triggerBody()?['Tier']?['Value']",
                                            "type":  "Switch"
                                        }
                                    }
                                }
                            },
                            "default":  {
                                "actions":  {
                                    "Terminate_as_Cancelled":  {
                                        "type":  "Terminate",
                                        "inputs":  {
                                            "runStatus":  "Cancelled"
                                        }
                                    }
                                }
                            },
                            "expression":  "@triggerBody()?['Action']?['Value']",
                            "type":  "Switch"
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "sharepointonline":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('SharepointonlineConnectionName'))]",
                                "connectionName":  "[variables('SharepointonlineConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Sharepointonline')]"
                            },
                            "azuresentinel":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName":  "[variables('MicrosoftSentinelConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                                "connectionProperties":  {
                                    "authentication":  {
                                        "type":  "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "hidden-SentinelTemplateName":  "UpdatedInvestigationFlow",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('SharepointonlineConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('SharepointonlineConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('SharepointonlineConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Sharepointonline')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('MicrosoftSentinelConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues":  {
                },
                "parameterValueType":  "Alternative",
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                }
            }
        }
    ]
}
